<ion-content class="auth-form">

   
  <ion-row class="row1">
    <ion-col>
      <ion-img src="assets/img/flor1.png" class="Possicion"></ion-img>

      <ion-col align-self-center>

        <ion-text  class="texto">
          <p>Bienvenido</p>
        </ion-text>

        <ion-button [routerLink]="['/login']" shape="round"color="colorboton" class="centro" >Iniciar sesión</ion-button>

        <ion-button fill="outline" [routerLink]="['/registration']" color="colorboton" class="centro"shape="round" >Registrarse</ion-button>
<!--         <a [routerLink]="['/forgot-password']" class="already">¿Olvidaste tu contraseña?</a>
 -->      </ion-col>


    </ion-col>
</ion-row>

</ion-content>